<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>add.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>org.field.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.field.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IsLogin</servlet-name>
    <servlet-class>org.field.servlet.IsLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JsonDemo</servlet-name>
    <servlet-class>org.field.example.JsonDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>org.field.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IsLogin</servlet-name>
    <url-pattern>/IsLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonDemo</servlet-name>
    <url-pattern>/JsonDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexData</servlet-name>
    <servlet-class>org.field.servlet.IndexData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexData</servlet-name>
    <url-pattern>/IndexData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>org.field.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCard</display-name>
    <servlet-name>DoCard</servlet-name>
    <servlet-class>org.field.servlet.DoCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCard</servlet-name>
    <url-pattern>/DoCard</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>org.field.servlet.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddCard</display-name>
    <servlet-name>AddCard</servlet-name>
    <servlet-class>org.field.servlet.AddCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCard</servlet-name>
    <url-pattern>/AddCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderList</display-name>
    <servlet-name>OrderList</servlet-name>
    <servlet-class>org.field.example.OrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderList</servlet-name>
    <url-pattern>/OrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDel</display-name>
    <servlet-name>OrderDel</servlet-name>
    <servlet-class>org.field.example.OrderDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDel</servlet-name>
    <url-pattern>/OrderDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderSearch</display-name>
    <servlet-name>OrderSearch</servlet-name>
    <servlet-class>org.field.example.OrderSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSearch</servlet-name>
    <url-pattern>/OrderSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAvatar</display-name>
    <servlet-name>UserAvatar</servlet-name>
    <servlet-class>org.field.example.UserAvatar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAvatar</servlet-name>
    <url-pattern>/UserAvatar</url-pattern>
  </servlet-mapping>
</web-app>