@charset "UTF-8";

em, i {
	font-style: normal;
}

input:focus{
	outline:none;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:none !important;
}

.NewAddClass{
	background:black;
}

button:focus{
	box-shadow:none !important;
}

/**/
.my-nav{
	position:fixed !important;
	width:100%;
	z-index:10000;
	box-shadow:0 0 10px gray;
}