@charset "UTF-8";

em, i {
	font-style: normal;
}

input:focus{
	outline:none;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:none !important;
}

#destory{
	display:none;
}

.NewAddClass{
	background:black;
}

button:focus{
	box-shadow:none !important;
}

.my-nav{
	position:fixed !important;
	width:100%;
	z-index:10000;
	box-shadow:0 0 10px gray;
}

@keyframes myloading{
	0%{
		transform:rotate(0);
	}
	100%{
		transform:rotate(360deg);
	}
}

.MyAllLoading{
	margin-right:10px;
	display:inline-block;
	animation:myloading 0.5s infinite linear;
}

.ShowApp{
	position:absolute;
	top:calc(100% + 9px);
	z-index:1000;
	left:50%;
	margin-left:-75px;
	display:none;
	text-align:center;
	color:red;
	background:white;
}
.ShowApp img{
	width:150px;
	height:150px;
}
.ShowApp p{
	height:30px;
	line-height:30px;
	margin:0;
}

.ShowHide:hover .ShowApp{
	display:block;
}

.progress.IndexPro{
	position:fixed;
	top:0;
	width:100%;
	height:3px;
}



