*{
    text-align:center;
    /* color:gray; */
    
}
table{
    margin:2rem auto 0;
    width:50%;
}
table th{
    border:1px solid gray;
}
tr td{
    
    border:1px solid gray;
}
table tr td a{
   font-size:0.8rem;
   color:pink;	
}