.UserSection{
	width:1090px;
	margin:0 auto;
	padding-top:20px;
}
.UserSection>div:nth-child(1){
	flex:0 0 180px;
}

.UserAvatar{
	padding:20px 0;
	text-align:center;
}

.UserMenu{
	list-style:none;
	clear:both;
	margin:0;
	padding:0 0 20px;
}

.UserRight{
	padding:2px 0 0 20px;
	width:100%; 
}

.UserRight input{
	width:400px;
	padding:0 10px;
}
.UserRight button{
	border:none;
}
.UserRight>div:nth-child(1){
	margin-bottom:10px;
}
.UserRight h5{
	padding:15px 5px;
	background:gray;
	font-size:14px;
}

.UserSendAvatar{
	padding:50px 0;
	text-align:center;
}

.UserSendAvatar button{
	height:50px;
	width:200px;
	line-height:50px;
	text-align:center;
	margin-top:30px;
}

.UserSendAvatar input{
	display:none;
}

.avatar img{
	width:100%;
	height:100%;
}

.avatar{
	width:110px;
	height:110px;
	border-radius:50%;
	cursor:pointer;
	overflow:hidden;
	margin:0 auto;
	border:1px solid gray;
}

.UserMenu li a{
	height:50px;
	display:block;
	padding:0 10px;
	line-height:50px;
}
.my_img1{
    width:50px;
    height:50px;
    border-radius:50%;
}

#my_bar ul li a{
    color: white;
}
.my_btn{
    height:24px;
    width: 50px;
    font-size: 0.6rem;
    border-left: 0;
}
/*实现手风琴相关的类*/
.fade/*隐藏*/{
    height:0;
    overflow:hidden;
    opacity: 0;
    transition: all 0.6s linear;
}
.in/*显示*/{
	height:auto;
    opacity: 1;
}