.UserSection{
	width:1090px;
	margin:0 auto;
	padding-top:20px;
	overflow:hidden;
}
.UserSection>div:nth-child(1){
	flex:0 0 180px;
}

.UserAvatar{
	padding:20px 0;
	text-align:center;
}

.UserMenu{
	list-style:none;
	clear:both;
	margin:0;
	padding:0 0 20px;
}


.TooLong,.name{
	max-width:200px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	word-break: break-all;
  	white-space: nowrap;
}

#UserRight{
	width:100%;
}

#UserRight button{
	cursor:pointer;
}

.OrderList{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:50px;
	display:none;
}

.OrderList>img{
	margin-right:50px;
}

.UserRight{
	display:none;
	padding:0 0 0 20px;
	width:100%; 
}

.UserDou{
	padding-left:20px;
	width:100%;
}

.UserFirst{
	justify-content:space-between;
	align-items:center;
	margin-bottom:20px;
}
.UserFirst a{
	font-size:13px;
}

.UserRight input{
	width:400px;
	padding:0 10px;
}
.UserRight button{
	border:none;
}
.UserRight>div:nth-child(1){
	margin-bottom:10px;
}
.UserRight h5{
	padding:15px 5px;
	font-size:14px;
}

.UserSendAvatar{
	padding:50px 0;
	text-align:center;
}

.UserBtnRed{
	padding:20px;
	width:220px;
	background-color:#f2f2f2;
}

.UserBtnRed>p{
	margin-top:5px !important;
	font-size:13px;
}

.UserBtnRed>p i{
	color:red;
}

.UserBtnRed button{
	margin-top:20px;
	padding:10px 0;
	width:100%;
	text-align:center;
	font-size:14px;
	color:white;
	background:#E31436;
	border:none;
	border-radius:5px;
	cursor:pointer;
}

.UserMemeber{
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}
.UserMemeber li{
	border:1px solid #ddd;
	padding:10px 0;
	float:left;
	width:440px;
}
.UserMemeber li:nth-child(2n-1){
	margin-right:10px;
}

.UserMemeber li>div:nth-child(1){
	width:188px;
	height:188px;
	font-size:0;
	line-height:188px;
	margin-right:20px;
}
.UserWidth{
	width:670px;
}

.UserRedDetail p:nth-child(4){
	text-decoration:line-through;
}

.UserMemeber li>div:nth-child(1) img{
	width:100%;
}

.UserBtnRed p{
	margin:0;
}
.UserBtnRed img{
	width:50px;
	height:50px;
	margin-right:10px;
	border-radius:50%;
}

.UserRedAvatar{
	display:flex;
	align-items:center;
}

.UserSendAvatar button{
	height:50px;
	width:200px;
	line-height:50px;
	text-align:center;
	margin-top:30px;
}

.UserSendAvatar input{
	display:none;
}

.avatar img{
	width:100%;
	height:100%;
}

.avatar{
	width:110px;
	height:110px;
	border-radius:50%;
	cursor:pointer;
	overflow:hidden;
	margin:0 auto;
	border:1px solid gray;
}

.UserMenu li a{
	height:50px;
	display:block;
	padding:0 10px;
	line-height:50px;
	font-size:14px;
}
.my_img1{
    width:50px;
    height:50px;
    border-radius:50%;
}

#my_bar ul li a{
    color: white;
}
.my_btn{
    height:24px;
    width: 50px;
    font-size: 0.6rem;
    border-left: 0;
}
/*实现手风琴相关的类*/
.UserMenu .fade/*隐藏*/{
    height:0;
    overflow:hidden;
    opacity: 0;
    transition: all 0.6s linear;
}
.UserMenu .in/*显示*/{
	height:auto;
    opacity: 1;
}

.id{
	margin:0;
	opacity: 0;
	height:0;
}

.add{
	display:none;
}

.in-active{
	position:relative;
}

.in-active::after{
	position:absolute;
	content:'';
	display:block;
	top:0;
	left:3px;
	width:5px;
	top:50%;
	height:16px;
	margin-top:-8px;
	background:#D21F46;
}

.in-active>a{
	color:#D21F46 !important;
}
